@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./components/buttons";

@import "./layouts/header";
@import "./layouts/nav";

.loader {
    position: relative;
    top: 40vh;
    left: 20vw;
    padding: 0;
    z-index: 9999;
 }
  
  .food {
    width: 50vw;
    animation: spin 3s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes spin {
    0% {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
    50% {
      opacity: 1;
      transform: rotate(350deg) scale(2);
    }
    100% {
      opacity: 0;
      transform: rotate(700deg) scale(3);
    }
  }


/*--!!Nest Media Queries in BEM blocks!!!--*/

/*  For Tablets  */
@media screen and (min-width: 600px) {
    
}

/*  For Desktops  */
@media screen and (min-width: 1080px) {
    
}
